@import '../../styles/variables.scss';

.foodListItem {
    background-color: #eeeeee;
    width: 100%;
    max-width: 768px;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $mobileLarge-break) {
        flex-direction: row;
    }

    @media screen and (min-width: $tablet-break) {
        max-width: 230px;
        flex-direction: column;
    }
}

.foodListItem__imageOuter {
    width: 100%;

    @media screen and (min-width: $mobileLarge-break) {
        width: 50%;
    }

    @media screen and (min-width: $tablet-break) {
        width: 100%;
    }
}

.foodListItem__imageContainer {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
}

.foodListItem__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.foodListItem__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $mobileLarge-break) {
        width: 50%;
    }

    @media screen and (min-width: $tablet-break) {
        width: 100%;
    }
}

.foodListItem__info > h4,
h5 {
    margin: 10px 0;
}
